CREATE TABLE users ( id INT AUTO_INCREMENT PRIMARY KEY, username VARCHAR(50) NOT NULL UNIQUE, email VARCHAR(100) NOT NULL UNIQUE, password VARCHAR(255) NOT NULL, nombre VARCHAR(100), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP );
